@use "../../styles/colors" as *;

.match-player {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &__image-wrapper {
    position: relative;
  }

  &__image-wrapper--winner::before {
    content: "👑";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -40%) rotateZ(15deg);
  }

  &__image {
    display: block;
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 2px solid $background;
    padding: 0.125rem;

    &--winner {
      border-color: $primary;
    }
  }

  &__points {
    margin-left: auto;
    color: $text-light;
  }
}
