@use "../../styles/colors" as *;
@use "../../styles/responsive" as *;
@use "../../styles/mixins" as *;


.library-page {
  &__container {
    @include centralise-content;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
