@use "../../styles/colors" as *;

.form {
  padding: 0 1rem;

  &__btn {
    background-color: $primary;
    border: none;
    padding: 1rem;
    margin-top: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
