@use "../../styles/colors" as *;

.match-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;

  &__time {
    text-align: right;
  }

  &__players {
    display: flex;
  }

  &__player-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: -0.25rem;
    border: 2px solid $accent;
    padding: 0.125rem;
    background-color: $background;

    &--winner {
      border-color: $primary;
      transform: scale(1.25);
    }
  }
}
