@use "../../styles/colors" as *;

.match-card {
  border-radius: 0.25rem;
  max-width: 28rem;
  background-color: $card;

  &__header {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid $background;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__game-icon {
    display: block;
    height: 2.5rem;
    aspect-ratio: 3 / 4;
    border-radius: 0.125rem;
  }

  &__title {
    font-family: Viga;
    font-size: 1.125rem;
    margin: 0;
  }

  &__time {
    font-size: 0.85rem;
    margin-left: auto;
  }

  &__players {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }
}
