@use "../../styles/mixins" as *;
@use "../../styles/responsive" as *;
@use "../../styles/colors" as *;

.recent-page {
  &__container {
    @include centralise-content;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__form {
    @include desktop {
      flex-grow: 1;
    }
  }

  &__history {
    padding: 0 1rem;

    @include desktop {
      width: 28rem;
      flex-shrink: 0;
      border-left: 2px solid $card;
    }
  }

  &__list {
    display: grid;
    gap: 1rem;
  }
}
