@use "../../styles/colors" as *;

.game-picker {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  padding: 1rem;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}

.game-picker-item {
  scroll-snap-align: start;
  flex: calc(100% / 3.5 - 0.5rem) 0 0;
  margin-right: 1rem;
  display: grid;

  &--dismissed {
    filter: grayscale(1);
  }

  &__input {
    grid-area: 1 / 1;
    opacity: 0;
    margin: 0;
    cursor: pointer;
  }

  &__label {
    grid-area: 1 / 1;
    aspect-ratio: 2/3;
    transition: padding 0.1s, transform 0.1s;
    transform: rotateZ(1deg);
  }

  &__input:checked + &__label {
    border: 0.25rem solid $accent;
    border-radius: 0.5rem;
    padding: 0.25rem;
    transform: none;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }
}
