@use "../../styles/colors" as *;

.game-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;

  &__link {
    color: $text;
    text-decoration: none;
    font-size: 1rem;
  }

  &__title {
    margin: 0;
    background-color: $accent;
    padding: 0.5rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Viga;
    font-size: 1rem;
  }

  &__thumbnail {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
  }
}
