@use "../../styles/colors" as *;

.game-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;

  &__link {
    color: $text;
    text-decoration: none;
    font-size: 1rem;
  }

  &__thumbnail {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}
