@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.nav {
  background-color: $primary;
  margin: 0;
  
  &__container {
    @include centralise-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
  }

  &__title-link {
    text-decoration: none;
    color: $text;
  }

  &__links {
    display: flex;
    gap: 0.5rem;
  }

  &__link {
    color: $text;
    text-decoration: none;
  }

  &__link.active {
    text-decoration: underline;
  }
}
